.enroll{
    position: absolute;
  top: 70%;
  left: 65%;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
}
.text-info{
  font-size: 5rem;
}
.carousel-text{
  position: absolute;
  top: 30%;
  left: 65%;
}