
/*----------------------Slider-------------------------*/
/* .btn1{
    font-size: 40px;
    box-shadow: 5px 5px 15px 5px black;
    padding: 0px 2rem;
    background-color:black;
    color: white;
}

#img-prev{
    position: absolute;
    top: 45%;
}
#img-next{
    position: absolute;
    top: 45%;
    right: 0;
}  */
.body{
    overflow-x: hidden;
}
.shadow-lg{
    padding: 3rem 3rem 1rem 3rem;
}
.form-submit{
    cursor: pointer;
    padding-bottom: 1rem;
}
.fade-in {
    opacity: 0; /* Start with 0 opacity */
    animation: fadeInAnimation 1.5s ease-in forwards; /* Animation properties */
  }
  
  @keyframes fadeInAnimation {
    0% {
      opacity: 0; /* Starting opacity */
    }
    100% {
      opacity: 2; /* Ending opacity */
    }
  }