
/*----------------------Slider-------------------------*/
.btn1{
    font-size: 40px;
    box-shadow: 5px 5px 15px 5px black;
    padding: 0px 2rem;
    background-color:black;
    color: white;
}

#img-prev{
    position: absolute;
    top: 45%;
}
#img-next{
    position: absolute;
    top: 45%;
    right: 0;
} 

/*---------------------form-----------------------*/
.text-center{
    padding: 100px;
}
.btn-primary{
    font-size: 15px;
    padding: 10px;
    color: white;
}
.form-submit{
    cursor: pointer;
    margin-top: -6rem;
    padding-bottom: 1rem;
}
.shadow-lg{
    padding: 3rem 3rem 0 3rem;
}

.note{
    text-align: center;
    padding-bottom: 2rem;
}
.application{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}