body{
    overflow-x: hidden;
}
h1{
  color: #093CAF;
}
.header{
  float: left;
  background-color: #02133A;
}
.header img {
  float: left;
  width:10%;
  height:10%;
  position: relative;
  
}

.header h1 {
  position: relative;
  color: white;
  top: 18px;
  left: 10px;
}
.topnav {
  background-color: #02133A;
  
}

.topnav a {
  float: right;
  font-style: bold;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: white;
  color: blue;
}
/* .hide {
  z-index: -1;
} */

/*.topnav a.active {
  background-color: white;
  color: blue;
 } */
.about h1{
  color: #093CAF;
  font-family: Anonymous Pro;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.about p{
  color:black
}
.about{
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  
}
.about img{
  position: relative;
}
h2{ 
  color: #093CAF;
text-align: center;
font-family: Inter;
font-size: 64px;
font-style: normal;
font-weight: 600;
margin-bottom: 10%;
}

h3{
  color: #093CAF;
  
}
.text2{
  color: #000;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
}


.row {
  display: flex;
}
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

ul{
  list-style-image: url('../img/check.gif');
  color: #000;
font-family: Inter;
font-size: 24px;
font-style: Inter;
/* font-weight: 600; */
line-height: normal;
}




 .button {
    background-color: #F5F5F5;
    border: none;
    color: #093CAF;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: Inter;
    margin: 4px 2px;
  }
 
  
  .button1 {border-radius: 30px;
    width: 150px;
height: 40px;
justify-content: center;
align-items: center;} 



section {
  width: 100%;
  display: grid;
  place-items: center;
  /* margin-top: 10%; */
}
.sectionques{
  margin-top: 10%;
  margin-bottom: 10%;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.column {
  width: 100%;
  padding: 0 1em 1em 1em;
  text-align: center;
}
.internships{
  padding: 5%;
}
.card {
  width: 100%;
  height: 100%;
  padding: 2em 1.5em;
  /* background: linear-gradient(#ffffff 50%, #2c7bfe 50%); */
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.5s;
}


.service-grid {
  background: #D3DFF9;
}
 .service-title h4 {
  position: relative;
  display: inline-block;
}
.service-icon {
  position: relative;
}
.service-title p {
  padding: 0 190px;
  margin-bottom: 10px;
}
.about-info-text h2 {
  margin-bottom: 23px;
  text-transform: capitalize;
  font-weight: 700;
  line-height: .9;
}
.about-info-text p {
  padding: 0 100px;
  font-size: 18px;
  margin-bottom: 26px;
    position: relative;
}
.about-content p {
  margin-bottom: 0;
}
.about-info-text a {
  margin-bottom: 20px;
    position: relative;
}
.service-icon i {
  font-size: 40px;
  color: #e8bc00;
  margin-bottom: 20px;
  display: inline-block;
}
.service-wrap {
  border: 1px solid blue;
  border-radius: 10%;
  padding: 50px 30px;
  background: white;
    position: relative;
}

.service-wrap p{
    position: relative;
}


/* .service-wrap:hover:before {
  background: rgba(0, 0, 0, 0.2901960784313726);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  content: "";
  top: 0;
  opacity: 1;
}

.service-wrap:hover h4,.service-wrap:hover p{
  color: #fff;
} */
.service-wrap h4 {
  font-weight: 600;
  color: #1e2331;
  margin-bottom: 17px;
  font-size: 18px;
  text-transform: capitalize;
    position: relative;
}
.service-wrap a {
  font-size: 14px;
  font-weight: 600;
    position: relative;

}
#training{
  background-color: #D3DFF9;
  padding-top: 5%;
  padding-bottom: 5%;
  

}

.lists li{ 
  list-style-position: inside;
  list-style-image: url("../img/check.gif");
}
.nav__ul li {
  font-size: 14px;
  color: white;
}

*, *:before, *:after {
  box-sizing: border-box;
}

 html { 
  font-size: 100%;
}

body {
  font-family: Inter;
  /* display: grid;
  grid-template-rows: auto 1fr auto; */
  font-size: 14px;
  align-items: start;
  min-height: 100vh;
}

 .footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: white;
  background-color: black;
  border-top: 1px solid #e5e5e5;
}

.footer > * {
  flex:  1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-family: Inter;
  font-weight: 400;
  font-size: 1.5rem;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  color: white;
}

 .footer address {
  color: white;
  text-align: center;
} 


.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
    flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
  
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}


@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }
  
  .nav__item--extra {
    flex-grow: 2;
  }
  
  .footer__addr {
    flex: 1 0px;
  }
  
  .footer__nav {
    flex: 2 0px;
  }
} 

#faq {
  /* max-width: 700px; */
  margin: auto;
  padding: 50px 15px;
  text-align: center;
  background-color: #D3DFF9;
}

section.faq {
  padding-top: 2em;
  padding-bottom: 3em;
}

#faq ul {
  text-align: left;
}
.transition, p, ul li i:before, ul li i:after {
  transition: all 0.3s;
}

#faq .no-select, #faq h2 {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;
}

#faq h1 {
  color: #093CAf;
  margin-bottom: 30px;
  margin-top: 0;
}

#faq h2 {
  color: #093CAf;
  font-family: 'hm_light', sans-serif;
  font-size: 20px;
  line-height: 34px;
  text-align: left;
  padding: 15px 15px 0;
  text-transform: none;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
  margin: 0;
  cursor: pointer;
  transition: .2s;
}

#faq p {
  color: #333;
  text-align: left;
  font-family: 'hm_light', sans-serif;
  font-size: 14px;
  line-height: 1.45;
  position: relative;
  overflow: hidden;
  max-height: 250px;
  will-change: max-height;
  contain: layout;
  display: inline-block;
  opacity: 1;
  transform: translate(0, 0);
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 0 50px 0 15px;
  transition: .3s opacity, .6s max-height;
  hyphens: auto;
  z-index: 2;
}

#faq ul {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0;
}
#faq ul li {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
  /*padding-bottom: 4px;*/
  /*padding-top: 18px;*/
  background: #fff;
  box-shadow: 0 3px 10px -2px rgba(0,0,0,0.1);
  -webkit-tap-highlight-color: transparent;
}
#faq ul li + li {
  margin-top: 15px;
}
#faq ul li:last-of-type {
  padding-bottom: 0;
}
#faq ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 28px;
  right: 15px;
}
#faq ul li i:before, ul li i:after {
  content: "";
  position: absolute;
  background-color: #cc071e;
  width: 3px;
  height: 9px;
}
#faq ul li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
#faq ul li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
#faq ul li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  touch-action: manipulation;
}
#faq ul li input[type=checkbox]:checked ~ h2 {
  color: #000;
}
#faq ul li input[type=checkbox]:checked ~ p {
  /*margin-top: 0;*/
  max-height: 0;
  transition: .3s;
  opacity: 0;
  /*transform: translate(0, 50%);*/
}
#faq ul li input[type=checkbox]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}
#faq ul li input[type=checkbox]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

#ourclients{
  padding-top: 2%;
  /* padding-bottom: 2%; */
}
#java{
  padding-top: 2%;
  padding-bottom: 2%;
}
#faq{
  /* padding-top: 5%; */
  padding-bottom: 5%;
}

#about{
  background-color: #E6E6E6;
  padding-top: 3%;
  padding-bottom: 3%;
}
#foot h1{
  color: white;
}
.footer-style{
  padding: 3% !important;
 } 


