
.img_jpg{
  float:right;
  /* padding-right: 100px; */
}
.img_api{
  padding-left: 100px;
  margin-top: 0%;
  margin-bottom: 0%;
}


  .button:active {
    background-color: #3e8e41;
    transform: translateY(4px);
  }
  .text1 {
    font-size: 20px;
    padding-top: 50px;
    font-family: Nunito;
    color:#2147CE;
    align-items: right;
    float: right;
  }
  /* .container{
    padding:15px 9%; */
    /* padding-bottom: 100px; */
    /* overflow: hidden;
} */
/* .container1{
  overflow: hidden;
} */

.mySlides{
  margin-top: 100px;
  margin-bottom: 100px;
}


/* @media (max-width:768px){
    .container{
        padding:20px;
    }
} */
.apply_box {
    max-width: 600px;
    padding: 20px;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 10px;
    position: relative;
    margin-right: 0px;
    box-align:right;
  }
  
  .title_small {
    font-size: 20px;
  }
  
  .form_container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  .form_control {
    display: flex;
    flex-direction: column;
    
  }
  
  label {
    font-size: 15px;
    margin-bottom: 5px;
  }
  
  input,
  select,
  textarea {
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
  }
  
  input:focus {
    outline-color: red;
  }
  
  .button_container {
    display: flex;
  
    justify-content: flex-end;
    margin-top: 20px;
  }
  button {
    border: none;
    height: 50px;
    align-content: right;
    font-family: Nunito;
    font-size: 30px;
    background-color: yellow;
    padding: 5px 10px;
    color: white;
    transition: 0.3s ease-in;
  }
.card{
 width: 300px;
 height: 300px;
}
#carouselCards .card-img-top {
    margin: 5% 25% 2% 25%;
    width: 50% !important;
}
#aboutInten{
  padding-top:5%;
  background: linear-gradient(131deg, rgba(175, 253, 253, 0.16) 32.86%, rgba(174, 255, 255, 0.00) 94.07%);

}
#launch{
  margin-top: 5%;
  margin-bottom:5%;
}
#carouselCards,#applybox{
  background: linear-gradient(131deg, rgba(175, 253, 253, 0.16) 32.86%, rgba(174, 255, 255, 0.00) 94.07%);
}

.btn-primary,.btn-primary:active, .btn-primary:visited {
  background-color: #E4D124 !important;
  border-radius: 20px !important;
  font-family: Nunito !important;
}
.btn-primary:hover{
  background-color: #4310AF !important;
  box-sizing: 10px !important;
  font-family: Nunito !important;
  
}
.btn-info,.btn-info:active, .btn-info:visited {
  background-color: #088BCC !important;
  border-radius: 10px !important;
  font-family: Nunito !important;
  float:right !important;
  
}
.btn-info:hover{
  background-color: #088BCC !important;
  font-family: Nunito !important;
  float:right !important;
}

.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.one {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.two {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.three {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.four {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}



/*=== FADE IN LEFT ===*/
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

/*==== FADE IN RIGHT ===*/
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
.carousel-control-prev{
  top: 50% !important;
}
.carousel-control-next{
  top: 50% !important;
}
/*==== FADE IN UP ===*/
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/*=== FADE IN DOWN ===*/
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@media screen and (max-width: 768px) {
  
.img_jpg{
  float:right;
  width: 100%;
  /* padding-right: 100px; */
}

}
@media screen and (min-width: 375px) {
  
  .card:not(:first-child){
     display:none; 
  }
  
  }


  

 