#cards1{
    width:44%;
     height:77%; 
    background-color: #263238;
    border-radius: 40px 40px 40px 40px;
    
  }
  #brands1{
    /* margin-top:1%;
    margin-bottom:2%;  
    margin-left:2%; */
    padding: 2%;
    background-color: #CFF9DB;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
  }
 
  .hidden {
    display: none;
  }
   /* .bg-image1 { 
    width: 100%; 
    height: 600px; 
    background-image: url('assets/img/portfolio.png'); 
    background-size: 100% 100%;  
    background-repeat: no-repeat;
}     */

.my-div{
    width:10%;
    height:10%;
    border: 2px solid black;
    padding: 25%;
    /* border: 40px; */
    border-radius: 40px 40px 40px 40px;
}

#mainImage1{
  margin-left:20%;
}
#mainImage2{
  margin-left:20%;
}