.links{
    background-color:#023767;
    width:3%;
    position:fixed;
    padding-top:1%;
    border-radius: 0px 40px 40px 0px;
   }
   .image1{
    width: 20%;
    height: 5%;
    margin-left: -7%;
}
.heading{
    /* margin-top:7%; */
    /* border: 3px solid  white; */
    /* padding-top: 3%;
  padding-bottom: 3%; */
  /* font-size: 400%; */
  margin-top: 2%;
    font-size: 250%;
}
/* #design{
  background-color: #DAE7F0;
} */
#design .design_container{
  background-color: aliceblue;
  width: 70%;
}
#web .web_container{
    background-color: aliceblue;
    width: 70%;
  }
  #ecommerce .ecommerce_container{
    background-color: aliceblue;
    width: 70%;
  }
  #app .app_container{
    background-color: aliceblue;
    width: 70%;
  }
  #marketing .marketing_container{
    background-color: aliceblue;
    width: 70%;
  }
.lists{
    width:5%;
}
.image-container {
    position: relative;
  }

  .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  @media (max-width: 575.98px) {
    .image1 {
        width: 83%;
    height: 5%;
    margin-left:8%;
    }
}