/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
 position: fixed;
 visibility: hidden;
 opacity: 0;
 right: 15px;
 bottom: 15px;
 /* z-index: 99999; */
 background: #213b52;
 width: 40px;
 height: 40px;
 border-radius: 50px;
 transition: all 0.4s;
}

.back-to-top i {
 font-size: 24px;
 color: #fff;
 line-height: 0;
}

.back-to-top:hover {
 background: #fdc134;
 color: #fff;
}

.back-to-top.active {
 visibility: visible;
 opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
 [data-aos-delay] {
   transition-delay: 0 !important;
 }
}

/*--------------------------------------------------------------
# Header
 --------------------------------------------------------------*/
#header {
 z-index: 0;
 transition: all 0.5s;
 padding: 23px 0;
 /* background: #93C9F0; */

   background-color: #fff;
 
}

#header .logo h1 {
 font-size: 24px;
 margin: 0;
 padding: 10px 0;
 line-height: 1;
 font-weight: 700;
 letter-spacing: 3px;
 text-transform: uppercase;
 font-family: "Poppins", sans-serif;
}

#header .logo h1 a,
#header .logo h1 a:hover {
 color: #fff;
 text-decoration: none;
}

#header .logo h1 a span,
#header .logo h1 a:hover span {
 color: #fdc134;
}

#header .logo img {
 padding: 0;
 margin: -57px;
 max-height: 150px;
} 

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
 padding: 0;
 margin-right: -5%;
}
.navbar a.link.color {
 color: white;
}
.navbar ul {
 margin: 0;
 padding: 0;
 display: flex;
 list-style: none;
 align-items: center;
}

.navbar li {
 position: relative;
}

.navbar a,
.navbar a:focus {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 10px 0 10px 30px;
 font-size: 14px;
 color:  #023767;
 white-space: nowrap;
 transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
 font-size: 12px;
 line-height: 0;
 margin-left: 5px;
 color: #023767;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
 color: red !important;
 
}



/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
 color: black;
 font-size: 28px;
 cursor: pointer;
 display: none;
 line-height: 0;
 transition: 0.5s;
 position: relative;
}
.mobile-nav-toggle.bi-x {
 color: black;
 position: relative;
}
@media (max-width: 991px) {
 .mobile-nav-toggle {
   display: block;
   position: relative;
 }
 .navbar ul {
   display: none;
   position: relative;
 }
}
.navbar-mobile {
 position: fixed;
 overflow: hidden;
 top: 0;
 right: 0;
 left: 0;
 bottom: 0;
 background: rgba(40, 58, 90, 0.9);
 transition: 0.3s;
 z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
 position: relative;  
 top: 15px;
 right: 15px;
}
.navbar-mobile ul {
 display: block;
 position: relative;
 top: 55px;
 right: 15px;
 bottom: 15px;
 left: 15px;
 padding: 10px 0;
 border-radius: 10px;
 background-color: black;
 overflow-y: auto;
 transition: 0.3s;
}
.navbar-mobile a, .navbar-mobile a:focus {
 padding: 10px 20px;
 font-size: 15px;
 color: #082A40;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
 color: #449ED6;
}
.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
 margin: 15px;
 color: #082A40;
}
.navbar-mobile .dropdown ul {
 position: static;
 display: none;
 margin: 10px 20px;
 padding: 10px 0;
 z-index: 99;
 opacity: 1;
 visibility: visible;
 background: #fff;
 box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
 min-width: 200px;
}
.navbar-mobile .dropdown ul a {
 padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
 font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
 color: #47b2e4;
}
.navbar-mobile .dropdown > .dropdown-active {
 display: block;
}
.nav-a a:hover, .nav-a .active, .nav-a .active:focus, .nav-a li:hover > a {
 color: #1DA76E;
}

@media (min-width: 992px) {
 .ul-a {
   columns: 2;
   -webkit-columns: 2;
   -moz-columns: 2;
 } 
}
@media(max-width:991px) 
{   
.collapse.show ul {
       display:block
   }
}
.navbar-toggler  {
 position:relative;
 left: 1px;
 right:1px;
 margin: 0 auto;
 margin-right: 5%;

}




/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
 padding: 15px 0;
 background-color: #f6f9fb;
 min-height: 40px;
}

.breadcrumbs h2 {
 font-size: 24px;
 font-weight: 300;
}

.breadcrumbs ol {
 display: flex;
 flex-wrap: wrap;
 list-style: none;
 padding: 0;
 margin: 0;
 font-size: 14px;
}

.breadcrumbs ol li+li {
 padding-left: 10px;
}

.breadcrumbs ol li+li::before {
 display: inline-block;
 padding-right: 10px;
 color: #6c757d;
 content: "/";
}

@media (max-width: 768px) {
 .breadcrumbs .d-flex {
   display: block !important;
 }

 .breadcrumbs ol {
   display: block;
 }

 .breadcrumbs ol li {
   display: inline-block;
 }
}

html *{
  /* font-family: "Nunito", sans-serif; */
  font-family: "Yantramanav", sans-serif;
}
a{
  color: white !important;
  text-decoration: none !important;
}

ul li a {
  color: #023767 !important;
}
/* ul li a:hover {
  color: rgb(170, 19, 44) !important;
} */

ul li a .active {
  color: red !important; 
}

/* #sol-link::after {
  content: "";
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #023767 ; 
  display: inline-block;
  margin-left: 5px;
  transform: translateY(-4px); 
} */


.navbar-toggler-icon{
  background-color: black;
}

/* 
.bg-image{

  border: 2px solid black;
  padding: 25px;
  background-repeat: no-repeat;
  background-size: auto;
} */

/* prashant */


@media (max-width: 425.98px){


  .bg-image{

    border: 2px solid black;
    padding: 25px;
    background-repeat: no-repeat;
    background-size: auto;
  }

}